{{#each model as |post|}}
  <div class="row" id="post-preview-box">
    {{#link-to 'post' post.id}}
      <div class="col-sm-6">
        <img src={{post.image}}>
      </div>
      <div class="col-sm-6" id="post-text">
        <h2 id="title">{{post.title}}</h2>
        <h3>{{post.date}}</h3>
        <h3>{{post.abstract}}</h3>
        <p id="author">By <strong>{{post.author}}</strong></p>
      </div>
    {{/link-to}}
  </div>
{{/each}}
